p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  /*In css write comment inside thss */
  /*This style below will be inherited 
  (means inside this body every elemnt will apply the style which body takes */
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  margin-bottom: 3000px;
  background-color: rgb(248,248,248);
}